body {
  background-color: #121b2e;
}

.button {
  color: #7181a6;
  font-size: 10px;
  text-transform: uppercase;
  text-decoration: none;
  background: hlsa(0, 0%, 0%, 0);
  padding: 5px 10px 5px 10px;
  border: 2px solid #7181a6;
  display: inline-block;
  transition: all 0.4s ease 0s;
}

.button:hover {
  text-decoration: none;
  cursor: pointer;
  color: #121b2e;
  background: #7181a6;
  border-color: #7181a6;
  transition: all 0.4s ease 0s;
}

.button:link {
  text-decoration: none;
}

.container {
  display: flex;
  width: 100%;
  align-items: center;
  justifiy-content: center;
  padding-top: 5px;
}

.container-content {
  margin: 0 auto;
  color: #7181a6;
}

#source {
  margin: 10px;
  color: #7181a6;
}

#source-link {
  color: #7181a6;
  text-decoration: underline;
}

#source-link:hover {
  color: #39455f;
}
